---
import Layout from '../layouts/Layout.astro'
import SectionHome from '../sections/SectionHome.astro'
import SectionServices from '../sections/SectionServicios.astro'
---
<Layout>
	<main class="md:snap-y md:snap-mandatory md:relative md:w-full md:h-screen md:overflow-auto ">
		<div class="md:snap-start py-2">
			<SectionHome />
		</div>
		<div class="md:snap-start">
			<SectionServices />
		</div>
	</main>	
	
</Layout>