---
import Card from '../components/Card.astro'
const servicios = [
      { nombre: 'Autenticación de documentos', link: 'https://ejemplo.com/autenticacion' },
      { nombre: 'Firmas de documentos', link: 'https://ejemplo.com/firmas' },
      { nombre: 'Protección de datos', link: 'https://ejemplo.com/proteccion' },
      { nombre: 'Gestión de contratos', link: 'https://ejemplo.com/gestion-contratos' },
      { nombre: 'Almacenamiento en la nube', link: 'https://ejemplo.com/almacenamiento-nube' },
      { nombre: 'Integración de sistemas', link: 'https://ejemplo.com/integracion-sistemas' },
      { nombre: 'Seguridad informática', link: 'https://ejemplo.com/seguridad-informatica' },
      { nombre: 'Gestión de usuarios', link: 'https://ejemplo.com/gestion-usuarios' },
      { nombre: 'Análisis de datos', link: 'https://ejemplo.com/analisis-datos' },
      { nombre: 'Automatización de procesos', link: 'https://ejemplo.com/automatizacion-procesos' },
      { nombre: 'Desarrollo de software', link: 'https://ejemplo.com/desarrollo-software' }
    ]; 
---
     
     
     <section id="servicios" class="w-full sm:flex sm:flex-col sm:items-start">
       
        <div class="my-2 md:my-5 p-2 text-left sm:p-5 ">
            <h1 class="text-white my-2 font-bold tracking-wider sm:text-xl">Nuestro Servicios</h1>
            <p class="text-white text-pretty tracking-wider sm:text-lg">
                Adicional puedes descargar el formato que te ayudará en tu trámite
            </p>
        </div>
        <div class="py-2 grid grid-cols-1 sm:grid-cols-2 md:grid-cols-4 gap-4 w-full px-5 h-3/6  md:h-auto">
            {servicios.map((servicio) => (
                <Card servicio={servicio.nombre} servicioLink={servicio.link}/>
            ))
            }

            

        </div>
         <!-- Botón flotante para ir a la siguiente sección -->
    <a href="#profesionistas" class="hidden sm:flex sticky bottom-10 left-1/2 transform -translate-x-1/2 bg-black-900 text-white py-3 px-6 rounded-full shadow-lg z-10  items-center justify-center">
        Profesionistas <svg class="w-6 h-6 ml-2" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor">
            <path fill-rule="evenodd" d="M10 12a.75.75 0 0 1-.53-.22l-4.25-4.25a.75.75 0 0 1 1.06-1.06L10 10.94l3.72-3.97a.75.75 0 0 1 1.06 1.06l-4.25 4.25a.75.75 0 0 1-.53.22z" clip-rule="evenodd" />
        </svg>
    </a>

</section>
